__pycache__
*.pyc
.vscode
.ipynb_checkpoints
*.cpython-*.so
.pyodide-xbuildenv/
dist/
dist_pyodide/
moleculekit.egg-info/
build/
pkg/
moleculekit/tmalign/tmalign_util.cpp
moleculekit/tmalign/tmalign_util.html
moleculekit/tools/test.json
moleculekit/xtc_utils/xtc.c
moleculekit/xtc_utils/xtc.html
moleculekit/atomselect_utils/atomselect_utils.cpp
moleculekit/bondguesser_utils/bondguesser_utils.c
moleculekit/bondguesser_utils/bondguesser_utils.cpp
moleculekit/bondguesser_utils/bondguesser_utils.html
moleculekit/distance_utils/distance_utils.c
moleculekit/distance_utils/distance_utils.cpp
moleculekit/distance_utils/distance_utils.html
moleculekit/interactions/cationpi/cationpi.c
moleculekit/interactions/cationpi/cationpi.cpp
moleculekit/interactions/cationpi/cationpi.html
moleculekit/interactions/hbonds/hbonds.c
moleculekit/interactions/hbonds/hbonds.cpp
moleculekit/interactions/hbonds/hbonds.html
moleculekit/interactions/pipi/pipi.c
moleculekit/interactions/pipi/pipi.cpp
moleculekit/interactions/pipi/pipi.html
moleculekit/interactions/sigmahole/sigmahole.c
moleculekit/interactions/sigmahole/sigmahole.cpp
moleculekit/interactions/sigmahole/sigmahole.html
moleculekit/occupancy_utils/occupancy_utils.c
moleculekit/occupancy_utils/occupancy_utils.cpp
moleculekit/occupancy_utils/occupancy_utils.html
moleculekit/wrapping/wrapping.c
moleculekit/wrapping/wrapping.cpp
moleculekit/wrapping/wrapping.html
