name: Emscripten/Pyodide build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-wasm-emscripten:
    permissions:
      contents: read # to fetch code (actions/checkout)
    name: Build moleculekit distribution for Pyodide
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - uses: pypa/cibuildwheel@298ed2fb2c105540f5ed055e8a6ad78d82dd3a7e # 3.3.1
        env:
          CIBW_PLATFORM: pyodide
          CIBW_TEST_SKIP: "*pyodide*"

      - name: Upload wheel artifact(s)
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: cp312-pyodide_wasm32
          path: ./wheelhouse/*.whl
          if-no-files-found: error

  upload-wheels:
    name: Upload WASM wheels to Anaconda
    runs-on: ubuntu-22.04
    permissions: {}
    needs: [build-wasm-emscripten]

    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          activate-environment: ../deploy-env
          python-version: "3.13"

      - name: Install anaconda-client
        shell: bash -l {0}
        run: |
          conda install anaconda-client -c conda-forge

      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          pattern: "*_wasm32"
          path: dist/
          merge-multiple: true

      - name: Upload wheel to conda
        shell: bash -l {0}
        run: |
          anaconda -t ${{ secrets.ANACONDA_TOKEN_BASIC }} upload -u acellera dist/moleculekit-*.whl
